body {
    margin: 0;
    font-family: 'Monocraft', Inter, sans-serif;
    background-color: #e88bb7;
    color: white;
}

.page-content {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    height: 100vh;
    position: relative;
}

.image-wrapper {
    height: 100%;
    width: 30%;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-right: 20px;
    z-index: 1;
}

.cherry-trees {
    height: 100%;
    width: auto;
    object-fit: cover;
    display: flex;
    overflow: hidden;
}

.content-wrapper {
    flex: 1; 
    display: block; 
    flex-direction: column; 
    justify-content: flex-start; 
}

.header {
    display: flex;
    align-items: center;
    font-size: 24px;
    z-index: 1;
    margin: 20px;
}

.signup-wrapper {
    left: 0;
    height: auto;
    position: relative;
    background-color: #ab5187;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-left: -20px;
    padding-left: 40px;
    padding-right: 20px;
    z-index: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

fieldset {
    display: block;
    border-width: 0px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

label {
    text-align: left;
    display: block;
    margin-left: 20px;
    font-size: 16px;
}

p {
    display: block;
}

button[type='submit'] {
    font-family: 'Monocraft';
    text-align: center;
    padding: 10px 20px; 
    width: 200px;
    display: inline-block;
    white-space: nowrap;
}

.log-in {
    display: flex;
}

#log-in {
    color: green;
    margin-left: 10px;
}

@font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft.woff2') format('woff2'),
        url('font/Monocraft.woff') format('woff'),
        url('font/Monocraft-01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

